/* Form layout */
.add-task-form {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 32px;
    ;

}

/* Input field */
.task-input {
    flex: 1;
    padding: 25px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    width: 450px;

}

/* Button styles */
.add-task-button {
    background: white;
    color: black;
    border-radius: 15px;
    font-size: 2.5rem;
    padding: 15px;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.add-task-button:hover {
    background: grey;
}

.task-input::placeholder {
    color: black;
}

.task-input:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

@media (max-width: 480px) {
    .add-task-form {
        display: flex;
        justify-content: center;
    }

    .task-input {
        max-width: 230px;
        min-width: 230px;
        padding: 15px;
        font-size: 0.9rem;


    }

    .add-task-button {
        font-size: 2rem;
        width: 50px;
        height: 50px;
    }

    .add-task-button:hover {
        background: grey;
    }
}

@media (min-width: 400px) {

    .task-input {
        max-width: 270px;
        min-width: 270px;
    }


}

@media (min-width: 768px) {

    .task-input {
        max-width: 400px;
        min-width: 400px;
    }


}