.count-text {
	font-family: Oswald, Oswald-fallback, sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 60px;
}

@media (max-width: 480px) {
	.count-text {
		font-size: 0.8rem;

	}
}