.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-right: 90px;
}

@media (max-width: 480px) {
    .task-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 72px;
    }
}