body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app-container {
    width: 100%;
    max-width: 500px;
    background: #3A6D8C;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #EAD8B1;
}

.task-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.task-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.task-input button {
    padding: 10px 20px;
    background-color: #EAD8B1;
    color: #001F3F;
    border: solid 3px;
    border-radius: 4px;
    cursor: pointer;
    border-color: #001F3F;

}

.task-input button:hover {
    background-color: #3A6D8C;
    color: #EAD8B1;
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.task-item.completed {
    text-decoration: line-through;
    color: #888888;
}

.task-item span {
    cursor: pointer;
}

.task-item button {
    background: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.task-item button:hover {
    background: #a71d2a;
}

.task-count {
    margin-bottom: 20px;
    font-size: 16px;
    color: #EAD8B1;
    text-align: center;
}