*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(252, 173, 186);
  color: rgb(60, 60, 60);
}

.task-background {
  background-color: white;
  padding: 10px 0;
}

.border {
  background-color: white;
  border: 1.5px solid rgb(60, 60, 60);
  border-radius: 10px;
  margin: 0 10px;
  max-width: 667px;
}

/* for tablet */
@media (min-width: 668px) {

  .border {
    margin: auto;
  }
}