@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pavanam&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Pavanam", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  /* Justera storlek efter behov */
}

p {
  font-weight: 400;
  font-size: 1rem;
  /* Standardstorlek */
  line-height: 1.6;
  /* För bättre läsbarhet */
}

span {
  font-weight: 400;
  font-size: 0.875rem;
  /* Justera för små textstycken */
}

input[type="checkbox"] {
  position: relative;
  width: 24px;
  height: 24px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: white;
}

input[type="checkbox"]:checked {
  background-color: #ffffff;
  border-color: #10b981;
}

input[type="checkbox"]:checked::after {
  content: '\2713';
  color: #10b981;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
}