*,
*::before,
*::after {
  box-sizing: border-box;

}

body {
  /* background-color: #dccebd; */
  background: linear-gradient(#efe7da, #c2b5a4);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}